*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.fleft{
    float: left;
}
.fright{
    float: right;
}
.clear::after{
  content: "";
  display: block;
  clear: both;
}
img{
    max-width: 100%;
}
main{
    width: 1200px;
    margin: auto;
}
a{
    text-decoration: none;
}
/* here is section 1 css */
.section1{
 background-image: url(./image/img/ia_200000019.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 100vh;
 position: relative;
 z-index: 99;
 margin-bottom: 2px;
}
.section1::after{
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(53, 51, 51, 0.8);
    position: absolute;
    z-index: -1;
}
.header-section{
  background-color: rgba(53, 51, 51, 0.8);
  width: 100%;
}
.logo{
 width: 20%;
}
.logo img{
    margin-left: 131px;
}

/* stars header menu sction */
.menu{
    width: 80%;
}
.menu ul{
    text-align: right;
    margin-right: 165px;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    display: block;
    color: white;
    padding: 5px 13px;
    line-height: 52px;
}
.menu ul li:hover a{
    color: #b6691b;
}

/* MENU HOVER SECTION */
.menu ul li{
position: relative;
}
.menu ul li ul{
position: absolute;
top: 100%;
left: 0;
width: 200px;
background-color: #fff;
text-align: center;
transition: .4s;
}
.menu ul li ul li{
    display: block;
}
.menu ul li ul li a{
    display: block;
    color: black;
    font-size: 15px;
}

.menu ul li ul li a:hover{
    background-color: #C7C6C7;
    color: #b6691b;
}

.menu ul li ul{
 opacity: 0;
 visibility: hidden;
}
.menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
}


/* MENU HOVER SECTION END */
.button{
    color: white;
    border: 1px solid #B98A4E;
    background-color:#B98A4E ;
    padding: 10px 20px;
    margin-top: 38px;
    display: inline-block;
    border-radius: 25px;
}



/* header content section */
.body-content{
    text-align: center;
    margin-top: 220px;
}
.body-content h1{
    color: white;
    font-weight: 700;
    font-size: 86px;
}
.body-content h2{
    color: white;
    font-size: 36px;
    margin-top: -47px;
    font-weight: 400;
    position: relative;
}
.body-content h2::before{
    content: "";
    top: 27px;
    left: 454px;
    height: 1px;
    width: 81px;
    background-color: #fff;
    position: absolute;

}
.body-content h2::after{
    content: "";
    top: 27px;
    left: 995px;
    height: 1px;
    width: 81px;
    background-color: #fff;
    position: absolute;

}
.body-content a{
    color: white;
    border: 1px solid #B98A4E;
    background-color:#B98A4E ;
    padding: 10px 20px;
    margin-top: 38px;
    display: inline-block;
    border-radius: 25px;
}
.body-content a:hover{
    background-color: whitesmoke;
    color: #B98A4E;

}

/* section 2 starts */
.section2{
 height: 500px;
 background-color: #F8F8F8;
} 
.article1{
    
    width: 23%;
    margin-right: 2%;
    box-sizing: border-box;
    background-color: #fff;
    margin-top: 70px;
    text-align: center;

}
.article1 a{
    border-radius: 5px;
    margin-bottom: 44px;
}
.article1 p{
    color: black;
    text-align: center;
    margin-top: 24px
}
.article1 img{
    margin-top: 22px;
    transition: .5s;
}
/* section 2 er hover starts*/
.article1:hover{
    background-color: #E9E6E5;
}
.article1:hover img{
    transform: rotateY(360deg);
}
.article1:hover a{
    background-color: whitesmoke;
    color: #B98A4E;
}
.article1 a:hover{
    color: white;
    background-color: black;
    transition: .2s;
}
/* section 2 er hover end */



     /* section 3 starts here */
     .section3{
         background-color:#F8F8F8 ;
         padding-top: 180px;
         padding-bottom: 50px;
         
     }

     .video{
         width: 50%;
     }

     .article3{
         width: 50%;
         margin-top: -23px;
     }
     .article3 h1{}
     .article3 p{
        text-align: justify;
        line-height: 31px;
     }
     .article3 mark{
         color: #C79753;
     }
     details{
         margin-top: 30px;
     }
     .article3 a{
         border-radius: 5px;
         background-color: black;
     }
     .article3 a:hover{
         color: whitesmoke;
         background-color: #C79753;
     }

     /* section 4 stars here */
     .section4{
         background-color:#F8F8F8 ;
         padding-top: 164px;
         
         box-sizing: border-box;
     }
     .form{
         width: 50%;
         margin-bottom: 20px;
         
         
     }
     .form h1{
         font-size: 40px;
     }
     .form p{
          margin-bottom: 45px;
     }
     input{
        width: 450px;
        height: 50px;
        margin-top: 6px;
        box-shadow: 2px 2px 16px rgb(236, 231, 231);
        border: none;
        padding-left: 16px;
     }
     textarea{
        width: 465px;
        height: 160px;
        margin-top: 6px;
        border: none;
        box-shadow: 2px 2px 16px rgb(236, 231, 231);
     }
     .form a{
        border-radius: 1px;
    margin-top: 1px;
     }


     .from-image{
         width: 50%;
         position: ;
         
     }
     .from-image img{
        height: 624px;
    width: auto;
    
    margin-left: -87px;
     }

     /* section 4 end here */

     /* foooter */
     footer{
         background-color: #6D6D6D;
         padding: 20px;
     }
footer .pax{
width: 50%;
color: white;
    line-height: 64px;
}
footer ul{
width: 50%;
text-align: right;
}
footer ul li{
    display: inline-block;
}
footer ul li a{
    display: block;
    color: white;
    padding: 20px 10px;
}
footer ul{}
     

/* sectiion 2 er h2 tag */
.article1 h2{
    font-size: 18px;
    margin-top: 40px;
    color: rgb(rgb(108 104 104);
     }
     /* section 2 er h2 tag */
     
      */




